{% extends 'base.html.twig' %}

{% block title %}Chart{% endblock %}

{% block body %}
<span id="loading">Loading data... please wait</span>
<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var countriesData = []

fetch(window.location.origin+"/json/chart")
.then(response => response.json())
  .then(jsonData => {

var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
      labels: jsonData.message.map(item => item.country),
        datasets: [{
            label: 'Persons in a country',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: jsonData.message.map(item => item.count)
        }]
    },

    // Configuration options go here
    options: {}
});

}).then(() => {
  document.getElementById("loading").innerHTML = ""
})

</script>
{% endblock %}
